In [ ]:
import os
import pandas as pd

folder_path = "../old uncertain cs"

total_rows = 0

for filename in os.listdir(folder_path):
    if filename.endswith(".csv"): # assuming all files are CSVs
        df = pd.read_csv(os.path.join(folder_path, filename))
        total_rows += len(df)

print("Total rows:", total_rows)

In [1]:
import pandas as pd 

df = pd.read_csv("../old uncertain CSVs/2018-2019.csv")

df

,Unnamed: 0,Date,Time,Latitude,Longitude,Power (J)
0,0,2018/12/1,00:00:00.402561,34.4382,-98.2427,24.57
1,1,2018/12/1,00:00:00.444949,-9.4469,33.8775,669.49
2,2,2018/12/1,00:00:00.754981,35.2082,35.2546,304.00
3,3,2018/12/1,00:00:00.863931,34.4078,-98.0612,10.38
4,4,2018/12/1,00:00:00.402542,34.3840,-98.2053,38.57
...,...,...,...,...,...,...
52597533,52597533,2019/2/28,23:59:48.465490,-1.1476,-70.0798,344.04
52597534,52597534,2019/2/28,23:59:48.453676,-13.5904,-73.8429,431.66
52597535,52597535,2019/2/28,23:59:48.513740,-20.8371,123.0803,5193.99
52597536,52597536,2019/2/28,23:59:48.525553,4.1125,7.4452,3296.61
52597537,52597537,2019/2/28,23:59:48.525733,4.5384,7.6946,1862.32

In [ ]:
31174145+35604747+82262376+47182304+54044187+51782407+46368175+47420722+49036489+52597538